* {
  margin: 0;
  padding: o;
  box-sizing: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-image: url(../../img/posibles-fondos/posible-fondo5.png);
  background-position: center;
  background-attachment: fixed;
  background-size: 70vh;
}

/*--Header--*/
header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgb(235, 55, 3) 26%, rgb(252, 152, 5) 66%, rgb(255, 186, 0) 100%);
  padding: 50px;
  padding-bottom: 25px;
  border: 3px solid black;
}
header h1 {
  align-items: center;
  font-size: 2.7rem;
  text-shadow: 1.5px 1.5px wheat;
  padding-bottom: 20px;
  display: inline-block;
  font-family: "pacifico", cursive;
}
header nav {
  display: flex;
  align-items: flex-end;
  font-size: 1rem;
  text-shadow: 1.1px 1.1px wheat;
}
header ul li {
  display: inline-block;
  padding: 3px;
  margin-right: 20px;
  border-radius: 7px;
  box-shadow: 3px 3px black;
}
header ul li:hover {
  background-color: wheat;
  opacity: 95%;
}

/*--Inicio header para telefonos--*/
@media (min-width: 320px) and (max-width: 767px) {
  header {
    flex-direction: column;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
  }
  header nav {
    display: flex;
    align-items: flex-start;
    text-shadow: 0.8px 0.8px wheat;
  }
  header ul li {
    display: inline-block;
    padding: 2px;
    margin-right: 6px;
    border-radius: 7px;
    box-shadow: 2px 2px black;
  }
  header ul li:hover {
    background-color: wheat;
    opacity: 95%;
  }
}
/*--Footer--*/
footer {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgb(235, 55, 3) 26%, rgb(252, 152, 5) 66%, rgb(255, 186, 0) 100%);
  margin-top: 10vh;
  padding: 40px;
  height: justify;
  border: 3px solid black;
}
footer p {
  text-shadow: 1.1px 1.1px wheat;
  padding-right: 5%;
}
footer div {
  text-align: end;
}
footer #button-enviar {
  border-radius: 10px;
  box-shadow: 2px 2px black;
}
footer #button-enviar:hover {
  background-color: rgb(235, 55, 3);
  opacity: 95%;
}

/*--Inicio footer para Telefonos--*/
@media (min-width: 320px) and (max-width: 767px) {
  footer {
    flex-direction: column;
    font-size: 0.9rem;
    padding: 20px 20px;
    gap: 20px;
  }
  footer p {
    text-shadow: 0.4px 0.4px wheat;
    padding-right: 10%;
    justify-content: flex-start;
  }
}
/*--Inicio del Index--*/
.nosotros {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15vh;
}
.nosotros h2 {
  font-family: "pacifico", cursive;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 5vh;
  text-shadow: 1.5px 1.5px wheat;
}
.nosotros p {
  padding: 6vh;
  font-size: 1.4rem;
}

/*--Tarjetas de imagenes--*/
.tarjetas-inicio {
  display: flex;
  justify-content: space-around;
  height: justify;
  width: justify;
  margin: 10vh 5vh;
}
.tarjetas-inicio img {
  display: inline-block;
  width: 45vh;
  border-radius: 20px;
  border: 2px solid #E14D2A;
  box-shadow: 5px 5px #E14D2A;
}

/*--Creando Hogares--*/
.creando-hogares {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 7vh;
}
.creando-hogares h2 {
  margin-top: 100px;
  font-family: "pacifico", cursive;
  font-size: 3rem;
  padding-bottom: 5vh;
  text-shadow: 1.5px 1.5px wheat;
}
.creando-hogares p {
  padding: 5vh;
  font-size: 1.4rem;
}

/*--Tarjetas de ejemplos--*/
.tarjetas-ejemplos {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 6vh 0vh;
}

.ejemplos {
  background-color: wheat;
  opacity: 95%;
  width: 260px;
  height: justify;
  border-radius: 20px;
  border: 4px solid #E14D2A;
  padding: 1%;
}
.ejemplos img {
  width: 85%;
  border-radius: 20px;
  margin-bottom: 2vh;
  box-shadow: 5px 5px #E14D2A;
}
.ejemplos article {
  margin: 2vh;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

/*--Inicio Index para Tabs--*/
@media (min-width: 768px) and (max-width: 1200px) {
  .nosotros {
    margin: 8vh;
  }
  .nosotros h2 {
    padding-bottom: 2vh;
    font-size: 2.5rem;
  }
  .nosotros p {
    font-size: 1.3rem;
  }
  .tarjetas-inicio {
    margin: 5vh 2vh;
  }
  .tarjetas-inicio img {
    width: 38vh;
  }
  .creando-hogares {
    margin: 4vh;
  }
  .creando-hogares h2 {
    padding-bottom: 2vh;
    font-size: 2.5rem;
  }
  .creando-hogares p {
    padding: 2vh;
    font-size: 1.3rem;
  }
  .tarjetas-ejemplos {
    margin: 8vh 0vh;
  }
  .ejemplos {
    width: 200px;
  }
  .ejemplos article {
    padding: 5px;
    margin: 1vh;
    font-size: 1rem;
  }
}
/*--Inicio tarjetas de animales para Telefonos--*/
@media (min-width: 320px) and (max-width: 767px) {
  .nosotros {
    margin: 5vh;
  }
  .nosotros h2 {
    font-size: 2.1rem;
    text-shadow: 1px 1px wheat;
  }
  .nosotros p {
    padding: 1vh;
    font-size: 1rem;
  }
  .tarjetas-inicio {
    flex-direction: column;
    align-items: center;
    margin: 2vh;
    padding-bottom: 3%;
  }
  .tarjetas-inicio img {
    width: 75vw;
    margin-bottom: 3vh;
    box-shadow: 3px 3px #E14D2A;
  }
  .creando-hogares {
    margin: 2vh;
  }
  .creando-hogares h2 {
    margin-top: 2vh;
    font-size: 2.1rem;
    text-shadow: 1px 1px wheat;
  }
  .creando-hogares p {
    font-size: 1rem;
    padding: 1vh;
  }
  .tarjetas-ejemplos {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 5vh;
    margin: 4vh 0vh;
  }
  .ejemplos {
    width: 70vw;
    height: justify;
    margin-bottom: 5vh;
    border-radius: 20px;
    border: 2px solid #E14D2A;
  }
  .ejemplos img {
    width: 75%;
    border-radius: 20px;
    margin-bottom: 1vh;
    box-shadow: 3px 3px #E14D2A;
  }
  .ejemplos article {
    margin: 1vh;
    padding: 10px;
  }
}
/*--Tarjetas de animales--*/
.grid-container {
  display: grid;
  row-gap: 10vh;
  margin: 10vh;
}
.grid-container h2 {
  font-family: "pacifico", cursive;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 1.5px 1.5px wheat;
}

.tarjetas {
  height: 450px;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "descripcion descripcion" "informacion imagen" "caracteristicas solicitud";
  background-color: wheat;
  opacity: 95%;
  border: 5px solid black;
  border-radius: 20px;
}
.tarjetas h3 {
  font-family: "pacifico", cursive;
  font-size: 1.5rem;
  grid-area: descripcion;
  display: flex;
  align-items: flex-end;
  text-align: start;
  padding-left: 25%;
  text-shadow: 1.5px 1.5px wheat;
}
.tarjetas p {
  grid-area: informacion;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  padding: 6%;
}
.tarjetas ul {
  grid-area: caracteristicas;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}
.tarjetas img {
  grid-area: imagen;
  display: flex;
  width: 400px;
  height: 260px;
  justify-self: center;
  align-self: center;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 10px 10px black;
}
.tarjetas span {
  grid-area: solicitud;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarjetas button {
  border-radius: 10px;
  box-shadow: 5px 5px black;
}
.tarjetas button:hover {
  background-color: rgb(235, 55, 3);
  opacity: 95%;
}

/*--Inicio tarjetas de animales para Tabs--*/
@media (min-width: 768px) and (max-width: 1200px) {
  .tarjetas img {
    width: 260px;
    height: 180px;
  }
  .tarjetas p {
    font-size: 1rem;
  }
}
/*--Inicio tarjetas de animales para Telefonos--*/
@media (min-width: 320px) and (max-width: 767px) {
  .grid-container {
    margin: 1vh;
    row-gap: 2vh;
    justify-content: center;
  }
  .grid-container h2 {
    font-family: "pacifico", cursive;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 1.2px 1.2px;
  }
  .tarjetas {
    height: 50vh;
    width: 37vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .tarjetas ul {
    font-size: 0.9em;
    justify-content: center;
    padding-bottom: 5px;
  }
  .tarjetas p {
    order: 5;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
  }
  .tarjetas img {
    order: 1;
    margin: 15px;
    width: 250px;
    height: 150px;
    box-shadow: 3px 3px black;
    border: 1px solid black;
  }
  .tarjetas span {
    order: 2;
  }
}
/*--Inicio seccion de contacto*/
.grid-contacto {
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "contactanos contactanos" "imagen redes" "ubicacion ubicacion" "sugerencias sugerencias";
  row-gap: 3em;
  width: auto;
  height: auto;
  margin: 5% 10%;
  padding: 50px;
  font-size: 2rem;
  font-family: "pacifico", cursive;
  text-shadow: 2px 2px white;
}
.grid-contacto .encabezado-contacto {
  grid-area: contactanos;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.grid-contacto h3 {
  background-color: wheat;
  opacity: 95%;
  border-radius: 10px;
  padding: 1%;
  border: 3px solid black;
}
.grid-contacto img {
  grid-area: imagen;
  display: flex;
  width: 90%;
  align-self: center;
  height: justify;
  padding: 10px;
}
.grid-contacto .redes-sociales {
  grid-area: redes;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/*--Seccion ubicacion*/
.ubicacion {
  grid-area: ubicacion;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ubicacion iframe {
  border-radius: 20px;
  box-shadow: 5px 5px black;
  padding-top: 2%;
}

/*--Seccion sugerencias*/
.sugerencias {
  grid-area: sugerencias;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}
.sugerencias textarea {
  box-shadow: 7px 7px black;
  border-radius: 10px;
  width: 50vh;
}
.sugerencias input {
  box-shadow: 3px 3px black;
}

/*--Inicio Contacto para Tabs--*/
@media (min-width: 768px) and (max-width: 1200px) {
  .grid-contacto {
    margin: 4vh;
    padding: 4vh;
    row-gap: 2%;
    font-size: 1.5rem;
  }
  .ubicacion {
    padding: 5%;
    row-gap: 2%;
  }
  .ubicacion iframe {
    width: 80%;
    align-self: center;
  }
  .sugerencias {
    margin-bottom: 5vh;
  }
}
/*--Inicio Contacto para Telefonos--*/
@media (min-width: 320px) and (max-width: 767px) {
  .grid-contacto {
    display: flex;
    flex-direction: column;
    margin: 3vh;
    padding: 3vh;
    font-size: 1.45rem;
  }
  .grid-contacto h3 {
    text-align: center;
  }
  .redes-sociales {
    text-align: center;
  }
  .ubicacion iframe {
    width: 65vw;
    height: 35vh;
  }
  .sugerencias textarea {
    width: 65vw;
    height: 35vh;
  }
}
/*--Inicio de formulario*/
.formulario-container {
  display: grid;
  background-color: wheat;
  opacity: 95%;
  margin: 30vh;
  height: justify;
  padding: 10vh;
  text-align: center;
  margin-bottom: 10vh;
  border-radius: 20px;
  border: 3px solid black;
  row-gap: 2em;
}
.formulario-container h2 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px white;
}
.formulario-container h4 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 2px 2px white;
  padding: 5px;
}
.formulario-container h5 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1%;
}
.formulario-container div {
  padding: 8px;
}

.formulario-partes {
  border: 3px solid black;
  border-radius: 20px;
  padding: 2em;
}

#button-textarea {
  border-radius: 10px;
  box-shadow: 2px 2px black;
}
#button-textarea:hover {
  background-color: rgb(235, 55, 3);
  opacity: 95%;
}

/*--Inicio del formulario de adopcion para Tabs--*/
@media (min-width: 768px) and (max-width: 1200px) {
  .formulario-container {
    margin: 15vh;
  }
  .formulario-container h5 {
    padding: 1%;
  }
  .formulario-container div {
    padding: 2%;
  }
  .telefono {
    display: block;
    padding: 2%;
  }
}
/*--Inicio del formulario de adopcion para Telefono--*/
@media (min-width: 320px) and (max-width: 767px) {
  .formulario-container {
    margin: 7vh;
    padding: 5vh;
    font-size: smaller;
  }
  .formulario-container h2 {
    font-size: 1.2rem;
    text-shadow: 1px 1px white;
  }
  .formulario-container h4 {
    font-size: 1.1rem;
    text-shadow: 1px 1px white;
    padding: 1px;
  }
  .formulario-container div {
    padding: 1%;
  }
  .formulario-container h5 {
    font-size: 1rem;
    padding: 1%;
  }
  #sobre-ti {
    width: 45vw;
    height: 20vh;
  }
  .telefono {
    display: block;
    padding: 1%;
  }
  .formulario-partes {
    padding: 1rem;
    overflow: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
