
/*--Inicio seccion de contacto*/
.grid-contacto {
    display: grid;
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "contactanos contactanos"
    "imagen redes"
    "ubicacion ubicacion"
    "sugerencias sugerencias";
    row-gap: 3em;
    width: auto;
    height: auto;
    margin: 5% 10%;
    padding: 50px;
    font-size: 2rem;
    font-family: $first-font;
    text-shadow: 2px 2px white;
  .encabezado-contacto{
    grid-area: contactanos;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  h3{
    background-color: $second-color;
    font-family: cursive;
    opacity: 95%;
    border-radius: 10px;
    padding: 1%;
    border: 3px solid black;
  }
  img{
    grid-area: imagen;
    display: flex;
    width:90%;
    align-self: center;
    height: justify;
    padding: 10px;
  }
  .redes-sociales {
    grid-area: redes;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

/*--Seccion ubicacion*/
  .ubicacion {
    grid-area: ubicacion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  iframe {
  border-radius: 20px;
  box-shadow: 5px 5px black;
  padding-top: 2%;
  }
}

/*--Seccion sugerencias*/
  .sugerencias{
    grid-area: sugerencias;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
  textarea {
    box-shadow: 7px 7px black;
    border-radius: 10px;
    width: 50vh;
  }
  input { 
    box-shadow: 3px 3px black;
    }
}


  /*--Inicio Contacto para Tabs--*/
  @media (min-width: 768px) and (max-width: 1200px) {
    .grid-contacto{
      margin: 4vh;
      padding: 4vh;
      row-gap: 2%;
      font-size: 1.5rem;
    }
    .ubicacion{
    padding: 5%;
    row-gap: 2%;
    iframe{
      width: 80%;
      align-self: center;
      }
    }
    .sugerencias{
      margin-bottom: 5vh;
    }
}

  /*--Inicio Contacto para Telefonos--*/
  @media (min-width: 320px) and (max-width: 767px){
    .grid-contacto{
      display: flex;
      flex-direction: column;
      margin: 3vh;
      padding: 3vh;
      font-size: 1.45rem;
      h3{
        text-align: center;
      }
    }
    .redes-sociales{
      text-align: center;
    }
    .ubicacion{
      iframe{
        width: 65vw;
        height: 35vh;
      }
    }
    .sugerencias{
      textarea{
        width: 65vw;
        height: 35vh;
      }
    }
  }