
/*--Tarjetas de animales--*/
.grid-container {
    display: grid;
    row-gap: 10vh;
    margin: 10vh;
  h2{
    font-family: $first-font;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 1.5px 1.5px $second-color;
  }
}
  .tarjetas{
    height: 450px;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "descripcion descripcion"
    "informacion imagen"
    "caracteristicas solicitud";
    background-color: $second-color;
    opacity: 95%;
    border: 5px solid black;
    border-radius: 20px;
  h3{
    font-family: $first-font;
    font-size: 1.5rem;
    grid-area: descripcion;
    display: flex;
    align-items: flex-end;
    text-align: start;
    padding-left: 25%;
    text-shadow: 1.5px 1.5px $second-color;
  }
  p{
    grid-area: informacion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    padding: 6%;
  }
  ul{
    grid-area: caracteristicas;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }
  img{
    grid-area: imagen;
    display: flex;
    width: 400px;
    height: 260px;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 10px 10px black;
  }
  span{
    grid-area: solicitud;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    border-radius: 10px;
    box-shadow: 5px 5px black;
  }
  button:hover{
    background-color: $third-color;
    opacity: 95%;
  }
}


  /*--Inicio tarjetas de animales para Tabs--*/
  @media (min-width: 768px) and (max-width: 1200px) {
    .tarjetas img {
      width: 260px;
      height: 180px;
  }
  .tarjetas p {
      font-size: 1rem;
  }
}
  
  /*--Inicio tarjetas de animales para Telefonos--*/
  @media (min-width: 320px) and (max-width: 767px) {
    .grid-container{
      margin: 1vh;
      row-gap: 2vh;
      justify-content: center;
    h2 {
      font-family: $first-font;
      text-align: center;
      font-size: 2.5rem;
      text-shadow: 1.2px 1.2px ;
    }
  }
    .tarjetas{
      height: 50vh;
      width: 37vh;
      display: flex;
      flex-direction: column;
      overflow: auto;
    ul{
      font-size: 0.9em;
      justify-content: center;
      padding-bottom: 5px;
    }
    p{
      order: 5;
      justify-content: center;
      text-align: center;
      font-size: 0.9rem;
    }
    img{
      order: 1;
      margin: 15px;
      width: 250px;
      height: 150px;
      box-shadow: 3px 3px black;
      border: 1px solid black;
    }
    span{
      order: 2;
    }
  }
}