
/*--Inicio del Index--*/
.nosotros{
    display: flex ;
    flex-direction: column;
    text-align: center;
    margin: 15vh;
  h2{
    font-family: $first-font;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 5vh;
    text-shadow: 1.5px 1.5px $second-color;
  }
  p{
    padding: 6vh;
    font-size: 1.4rem;
  }
}

/*--Tarjetas de imagenes--*/
.tarjetas-inicio{
    display: flex;
    justify-content: space-around;
    height: justify;
    width: justify;
    margin: 10vh 5vh;
  img{
    display: inline-block;
    width: 45vh;
    border-radius: 20px;
    border: 2px solid $first-color;
    box-shadow: 5px 5px $first-color;
  }
}

/*--Creando Hogares--*/
.creando-hogares{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 7vh;
  h2{
    margin-top: 100px;
    font-family: $first-font; 
    font-size: 3rem;
    padding-bottom: 5vh;
    text-shadow: 1.5px 1.5px $second-color;
  }
  p{
    padding: 5vh;
    font-size: 1.4rem;
  }
}

/*--Tarjetas de ejemplos--*/
.tarjetas-ejemplos{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 6vh 0vh;
}
.ejemplos{
    background-color: $second-color;
    opacity: 95%;
    width: 260px;
    height: justify;
    border-radius: 20px;
    border: 4px solid $first-color;
    padding: 1%;
  img{
    width: 85%;
    border-radius: 20px;
    margin-bottom: 2vh;
    box-shadow: 5px 5px $first-color;
  }
  article{
    margin: 2vh;
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
} 


/*--Inicio Index para Tabs--*/
  @media (min-width: 768px) and (max-width: 1200px){
    .nosotros{
      margin: 8vh;
      h2{
        padding-bottom: 2vh;
        font-size: 2.5rem;
      }
      p{
        font-size: 1.3rem;
      }
    }
    .tarjetas-inicio{
      margin: 5vh 2vh;
      img{
        width: 38vh;
      }
    }
    .creando-hogares{
      margin: 4vh;
      h2{
        padding-bottom: 2vh;
        font-size: 2.5rem;
      }
      p{
        padding: 2vh;
        font-size: 1.3rem;
      }
    }
    .tarjetas-ejemplos{
      margin: 8vh 0vh;
    }
    .ejemplos{
      width: 200px;
      article{
        padding: 5px;
        margin: 1vh;
        font-size: 1rem;
      }
    }
  }

/*--Inicio tarjetas de animales para Telefonos--*/
  @media (min-width: 320px) and (max-width: 767px){
    .nosotros{
      margin: 5vh;
      h2{
        font-size: 2.1rem;
        text-shadow: 1px 1px $second-color;
      }
      p{
        padding: 1vh;
        font-size: 1rem;
      }
    }
    .tarjetas-inicio{
      flex-direction: column;
      align-items: center;
      margin: 2vh;
      padding-bottom: 3%;
      img{
        width: 75vw;
        margin-bottom: 3vh;
        box-shadow: 3px 3px $first-color;
      }
    }
    .creando-hogares{
      margin: 2vh;
      h2{
        margin-top: 2vh;
        font-size: 2.1rem;
        text-shadow: 1px 1px $second-color;
      }
      p{
        font-size: 1rem;
        padding: 1vh;
      }
    }
    .tarjetas-ejemplos{
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      padding-top: 5vh;
      margin: 4vh 0vh
    }
    .ejemplos{
        width: 70vw;
        height: justify;
        margin-bottom: 5vh;
        border-radius: 20px;
        border: 2px solid $first-color;
      img{
        width: 75%;
        border-radius: 20px;
        margin-bottom: 1vh;
        box-shadow: 3px 3px $first-color;
      }
      article{
        margin: 1vh;
        padding: 10px;
      }
    } 
  }