/*--Footer--*/
footer{
    display: flex;
    justify-content: space-between;
    background: $first-gradient;
    margin-top: 10vh;
    padding: 40px;
    height: justify;
    border: 3px solid black;
  p{
    text-shadow: 1.1px 1.1px $second-color;
    padding-right: 5%;
  }
  div{
    text-align: end;
  }
}

/*--Inicio footer para Telefonos--*/
@media (min-width: 320px) and (max-width: 767px) {
  footer{
      flex-direction: column;
      font-size: 0.9rem;
      padding: 20px 20px;
      gap: 20px;
    p{
    text-shadow: 0.4px 0.4px $second-color;
    padding-right: 10%;
    justify-content: flex-start;
    }
  } 
}