/*--Header--*/
header{
    display: flex;
    justify-content: space-between;
    background: $first-gradient;
    padding: 50px;
    padding-bottom: 25px;
    border: 3px solid black;
  h1{
    align-items: center;
    font-size: 2.7rem;
    text-shadow: 1.5px 1.5px $second-color;
    padding-bottom: 20px;
    display: inline-block;
    font-family: $first-font;
  }
  nav{
    display: flex;
    font-family: cursive;
    align-items: flex-end;
    font-size: 1rem;
    text-shadow: 1.1px 1.1px $second-color;
  }
  ul li{
    display: inline-block;
    padding: 3px;
    margin-right: 20px;
    border-radius: 7px;
    box-shadow: 3px 3px black;
  }
  ul li:hover{
  background-color: $second-color;
  opacity: 95%;
  }
} 

/*--Inicio header para telefonos--*/
@media (min-width: 320px) and (max-width: 767px) {
  header{
      flex-direction: column;
      padding: 40px 20px;
      justify-content: center;
      align-items: center;
  nav{
      display: flex;
      align-items: flex-start;
      text-shadow: 0.8px 0.8px $second-color;
    }
  ul li{
      display: inline-block;
      padding: 2px;
      margin-right: 6px;
      border-radius: 7px;
      box-shadow: 2px 2px black;
    }
  ul li:hover{
    background-color: $second-color;
    opacity: 95%;
    }
  }
}