
*{
    margin: 0;
    padding: o;
    box-sizing: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-image: url(../../img/posibles-fondos/posible-fondo5.png);
    background-position: center;
    background-attachment:fixed;
    background-size: 70vh;
}
